version: '3.8'

services:
  api:
    build: .
    container_name: ieee_backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432 
    restart: always

  # The Database
  db:
    image: postgres:15-alpine
    container_name: ieee_postgres
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=eventdb
    ports:
      - "5433:5432" # Host:5433 -> Container:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: